:root {
  --color-medium: #ced4da;
  --color-light: #f1f3f5;
  --color-theme: #1098ad;
  --color-accent: #ffa94d;
}
@import url("https://fonts.googleapis.com/css2?family=Belanosima:wght@600&family=Special+Elite&family=Ysabeau+Infant:ital,wght@0,400;0,500;0,600;0,700;0,800;1,500;1,600;1,700;1,800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Belanosima", sans-serif;
  font-family: "Roboto Slab", serif;
  font-family: "Special Elite", cursive;
  font-family: "Ysabeau Infant", sans-serif;
}

body {
  min-height: 110vh;
  color: var(--color-light);
  /* background-color: var(--color-darkest); */
  background: url(../public/bg-stars-1.webp) rgb(2, 0, 36);
  background-size: cover;
  background-position: center;
  /* padding: 1rem; */
}
progress::-webkit-progress-bar {
  background-color: rgb(2, 0, 36);
}
progress::-webkit-progress-value {
  background: #814bf6;
}
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 1.5rem;
}

.main {
  width: 50rem;
}
@media (max-width: 768px) {
  .main {
    width: 35rem;
  }
}
.app-header {
  max-width: 55rem;
  margin-bottom: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.timer {
  font-size: 5rem;
  color: var(--color-medium);
  font-weight: 700;
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.2)
    ),
    linear-gradient(98.94deg, #00bcff 0.87%, #814bf6 57.85%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.timer.worning {
  color: red;
}

@keyframes effect-logo {
  100% {
    transform: rotate(360deg);
  }
}
.error {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  padding: 2rem;
  background-color: #495057;
  border-radius: 100px;
}

.app-header img {
  width: 12rem;
}

h1 {
  font-size: 5.6rem;
  font-weight: 800;
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.2)
    ),
    linear-gradient(98.94deg, #00bcff 0.87%, #814bf6 57.85%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

h2 {
  font-size: 3.6rem;
  margin-bottom: 2rem;
  font-weight: 800;

  /* transition: 0.2s; */
}

h3 {
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 4rem;
}

h4 {
  font-size: 2.2rem;
  font-weight: 600;
  margin-bottom: 2.4rem;
}
@media (max-width: 768px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    margin-bottom: 3rem;
  }
  .app-header img,
  img {
    width: 8rem;
  }
}
.start {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.progress {
  margin-bottom: 4rem;
  display: grid;
  justify-content: space-between;
  gap: 1.2rem;
  grid-template-columns: auto auto;
  font-size: 1.8rem;
  color: var(--color-medium);
}

progress {
  -webkit-appearance: none;
  width: 100%;
  height: 12px;
  grid-column: 1 / -1;
}

::-webkit-progress-bar {
  background-color: var(--color-medium);
  border-radius: 100px;
}
::-webkit-progress-value {
  background-color: var(--color-theme);
  border-radius: 100px;
}

.btn {
  display: block;
  font-family: inherit;
  color: inherit;
  font-size: 2rem;
  border: none;
  padding: 1.2rem 2.4rem;
  cursor: pointer;
  border-radius: 100px;
  transition: 0.5s;
  background: linear-gradient(
      45deg,
      rgb(13, 15, 74) 0%,
      rgb(26, 31, 129) 25%,
      rgb(7, 4, 43) 50%,
      rgb(13 10 58) 51%
    )
    no-repeat;
  background-size: 500px 500px;
  background-position: -250px 0px;
}
.btn:hover {
  background-position: 0px -300px;
}
@media (max-width: 768px) {
  .btn {
    font-size: 2rem;
  }
}

.btn-option:not([disabled]):hover {
  transform: translateX(1.2rem);
}

.select {
  display: grid;
  grid-template-columns: auto auto;

  gap: 1rem;
  width: 100%;
}
.btn-ui {
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
}

.btn-ui img {
  width: 8rem;
}
.options {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin-bottom: 3rem;
}

.btn-option {
  width: 100%;
  height: 5.5rem;
  text-align: left;
  transform: translateX(-5px);
  transition: 0.5s;

  font-family: inherit;
  color: inherit;
  font-size: 2rem;
  border: none;
  padding: 1.2rem 2.4rem;
  cursor: pointer;
  border-radius: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(
    15deg,
    rgb(13, 15, 74) 0%,
    rgb(26, 31, 129) 50%,
    rgb(7, 4, 43) 100%
  );
}
@media (max-width: 768px) {
  .btn-option {
    height: 5rem;
  }
}
.btn-option .image {
  flex: 0 0 5%;
}
.btn-option .image img {
  width: 100%;
}

.answer {
  transform: translateX(2rem);
}

.result {
  background: linear-gradient(
    15deg,
    rgb(13, 15, 74) 0%,
    rgb(26, 31, 129) 43%,
    rgb(7, 4, 43) 100%
  );
  color: var(--color-light);
  border-radius: 100px;
  text-align: center;
  padding: 2rem 0;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1.6rem;
}

.result span {
  font-size: 2.2rem;
  margin-right: 4px;
}

.finish {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.image-finish {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3rem 0;
}
.image-finish img {
  width: 20rem;
}
.footer {
  display: flex;
  justify-content: space-between;
}
.copyright {
  text-align: center;
  margin-top: 6rem;
  font-size: 3rem;
  /* background: black; */
  color: #ffeb3b;
}
